<!DOCTYPE html>
<html lang="en" data-root="https://fsprojects.github.io/FSharp.Formatting/">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Tomas Petricek; Oleg Pestov; Anh-Dung Phan; Xiang Zhang; Matthias Dittrich; Don Syme" name="author">
    <!-- Opengraph properties (https://ogp.me/) -->
    <meta property="og:site_name" content="FSharp.Formatting">
    <meta property="og:title" content="Example: Styling for Right-Side Navigation Bar
" />
    <meta property="og:url" content="https://fsprojects.github.io/FSharp.Formatting/templates/leftside/styling.html">
    <meta property="og:type" content="website" />
    <!-- Twitter cards (https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://fsprojects.github.io/FSharp.Formatting/">
    <meta name="twitter:title" content="Example: Styling for Right-Side Navigation Bar
">
    
    <title>Example: Styling for Right-Side Navigation Bar
 | FSharp.Formatting</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link href="https://fsprojects.github.io/FSharp.Formatting/img/favicon.ico" rel="icon" sizes="32x32" type="image/png"/>
    <script type="application/javascript" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-theme-set-dark.js"></script>
    <script type="application/javascript" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-details-set-expanded.js"></script>
    <link href="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-default.css" rel="stylesheet" type="text/css"/>
    <link href="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-theme.css" rel="stylesheet" type="text/css"/>
    
    
</head>
<body class="content">
<header>
    <div class="start">
        <div id="menu-toggle">
            <iconify-icon class="icon closed" height="22" icon="eva:menu-fill" width="22"></iconify-icon>
            <iconify-icon class="icon open" height="22" icon="mi:close" width="22"></iconify-icon>
            <input type="checkbox" name="mobile-menu" />
            <ul class="menu">
                <li class="nav-header">Links</li>
                <li class="license-menu-item builtin-menu-item nav-item"><a class="nav-link" href="https://github.com/fsprojects/FSharp.Formatting/blob/master/LICENSE.md">License</a>
                </li>
                <li class="release-notes-menu-item builtin-menu-item nav-item"><a class="nav-link"
                                        href="https://github.com/fsprojects/FSharp.Formatting/blob/master/RELEASE_NOTES.md">Release
                    Notes</a></li>
                <li class="repository-menu-item builtin-menu-item nav-item"><a class="nav-link" href="https://github.com/fsprojects/FSharp.Formatting/">Source
                    Repository</a></li>
                <li class="nav-header ">
  Documentation
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/zero-to-hero.html">
    Getting Started
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/commandline.html">
    Command line

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/literate.html">
    Literate Scripts

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/literate-notebook.html">
    Literate Notebooks

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/content.html">
    Creating Content

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/apidocs.html">
    Generating API Docs
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/evaluation.html">
    Embedding script output

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/styling.html">
    Customization and Styling

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/users.html">
    Users of FSharp.Formatting

  </a>
</li>             
<li class="nav-header active">
  Examples
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sidescript.html">
    Literate Script
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sidemarkdown.html">
    Markdown Content
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sideextensions.html">
    Markdown LaTeX
  </a>
</li>             
<li class="nav-item active">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/templates/leftside/styling.html">
    Example: Styling for Right-Side Navigation Bar

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sidemermaid.html">
    Mermaid Diagrams
  </a>
</li>             
<li class="nav-header ">
  Advanced
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/upgrade.html">
    Upgrading to fsdocs

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/codeformat.html">
    Code formatting

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/markdown.html">
    Markdown parser

  </a>
</li>
                <li class="nav-header">
  API Reference
</li>             
<li class="nav-item">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/reference/index.html">
    All Namespaces
  </a>
</li>
            </ul>
        </div>
        <a href="https://fsprojects.github.io/FSharp.Formatting/">
            <img alt="Logo" src="https://fsprojects.github.io/FSharp.Formatting/img/logo.png">
            <strong>FSharp.Formatting</strong>
        </a>
    </div>
    <div class="end">
        <a href="https://github.com/fsprojects/FSharp.Formatting/" target="_blank">
            <iconify-icon icon="uil:github" width="26" height="26"></iconify-icon>
        </a>
        <iconify-icon id="search-btn" icon="carbon:search" class="search" width="24" height="24"></iconify-icon>
        <fsdocs-theme-toggle></fsdocs-theme-toggle>
    </div>
</header>
<aside id="fsdocs-main-menu">
    <ul class="menu">
        <li class="nav-header">Links</li>
        <li class="license-menu-item builtin-menu-item nav-item"><a class="nav-link" href="https://github.com/fsprojects/FSharp.Formatting/blob/master/LICENSE.md">License</a>
        </li>
        <li class="release-notes-menu-item builtin-menu-item nav-item"><a class="nav-link"
                                href="https://github.com/fsprojects/FSharp.Formatting/blob/master/RELEASE_NOTES.md">Release
            Notes</a></li>
        <li class="repository-menu-item builtin-menu-item nav-item"><a class="nav-link" href="https://github.com/fsprojects/FSharp.Formatting/">Source
            Repository</a></li>
        <li class="nav-header ">
  Documentation
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/zero-to-hero.html">
    Getting Started
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/commandline.html">
    Command line

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/literate.html">
    Literate Scripts

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/literate-notebook.html">
    Literate Notebooks

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/content.html">
    Creating Content

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/apidocs.html">
    Generating API Docs
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/evaluation.html">
    Embedding script output

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/styling.html">
    Customization and Styling

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/users.html">
    Users of FSharp.Formatting

  </a>
</li>             
<li class="nav-header active">
  Examples
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sidescript.html">
    Literate Script
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sidemarkdown.html">
    Markdown Content
  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sideextensions.html">
    Markdown LaTeX
  </a>
</li>             
<li class="nav-item active">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/templates/leftside/styling.html">
    Example: Styling for Right-Side Navigation Bar

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/sidebyside/sidemermaid.html">
    Mermaid Diagrams
  </a>
</li>             
<li class="nav-header ">
  Advanced
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/upgrade.html">
    Upgrading to fsdocs

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/codeformat.html">
    Code formatting

  </a>
</li>             
<li class="nav-item ">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/markdown.html">
    Markdown parser

  </a>
</li>
        <li class="nav-header">
  API Reference
</li>             
<li class="nav-item">
  <a class="nav-link" href="https://fsprojects.github.io/FSharp.Formatting/reference/index.html">
    All Namespaces
  </a>
</li>
    </ul>
</aside>
<main>
    <div id="content">
        
<h1><a name="Example-Styling-for-Right-Side-Navigation-Bar" class="anchor" href="#Example-Styling-for-Right-Side-Navigation-Bar">Example: Styling for Right-Side Navigation Bar</a></h1>
<style>
:root {
    --body-grid-template-columns: minmax(0, 1fr) var(--main-menu-width);
    --body-grid-template-columns-xl: minmax(0, 1fr) var(--main-menu-width) var(--page-menu-width);
    --main-menu-grid-column: 2;
    --main-grid-column: 1;
}
</style>
<p>The sidebar can be moved to the right by overwriting the following CSS variables in your <code>fsdocs-theme.css</code> file:</p>
<table class="pre"><tr><td class="snippet"><pre class="fssnip"><code lang="css">:root {
    --body-grid-template-columns: minmax(0, 1fr) var(--main-menu-width);
    --body-grid-template-columns-xl: minmax(0, 1fr) var(--main-menu-width) var(--page-menu-width);
    --main-menu-grid-column: 2;
    --main-grid-column: 1;
}
</code></pre></td></tr></table>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

        
    </div>
</main>
<aside id="fsdocs-page-menu">
    <p id="on-this-page">On this page</p>
    <ul>
  <li class="level-1">
    <a href="#Example-Styling-for-Right-Side-Navigation-Bar">
      Example: Styling for Right-Side Navigation Bar
    </a>
  </li>
</ul>
</aside>
<dialog>
    <input type="search" placeholder="Search docs" />
    <div class="results">
        <ul></ul>
        <p class="empty">Type something to start searching.</p>
    </div>
</dialog>
<script type="module" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-tips.js"></script>
<script type="module" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-theme-toggle.js"></script>
<script type="module" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-details-toggle.js"></script>
<script type="module" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-theme.js"></script>
<script type="module" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-search.js"></script>
<script type="module" src="https://fsprojects.github.io/FSharp.Formatting/content/fsdocs-copy-button.js"></script>

</body>
</html>