/*--------------------------------------------------------------------------
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

:root {
    --bs-font-sans-serif: 'Hind Vadodara', sans-serif;
}

#fsdocs-searchbox {
    border: 1px solid var(--bs-body-color);
}

#fsdocs-searchbox input {
    color: var(--bs-body-color);
}

#fsdocs-searchbox input::placeholder {
    color: var(--bs-tertiary-color);
}

blockquote {
    margin: 0 1em 0 0.25em;
    padding: 0 .75em 0 1em;
    border-left: 1px solid var(--bs-gray-600);
    border-right: 0 solid var(--bs-gray-600);
}

/* Format the heading - nicer spacing etc. */
.masthead {
    overflow: hidden;
}

.masthead .muted a {
    text-decoration: none;
    color: var(--bs-gray-500);
}

.masthead ul, .masthead li {
    margin-bottom: 0;
}

.masthead .nav li {
    margin-top: 15px;
    font-size: 110%;
}

.masthead h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

/*--------------------------------------------------------------------------
  Formatting fsdocs-content
/*--------------------------------------------------------------------------*/

/* Change font sizes for headings etc. */
#fsdocs-content h1 {
    margin: 30px 0 15px 0;
    /* font-weight: 400; */
    font-size: 2rem;
    letter-spacing: 1.78px;
    line-height: 2.5rem;
    font-weight: 400;
}

#fsdocs-content h2 {
    font-size: 1.6rem;
    margin: 20px 0 10px 0;
    font-weight: 400;
}

#fsdocs-content h3 {
    font-size: 1.2rem;
    margin: 15px 0 10px 0;
    font-weight: 400;
}

#fsdocs-content hr {
    margin: 0 0 20px 0;
}

#fsdocs-content li {
    font-size: 1.0rem;
    line-height: 1.375rem;
    letter-spacing: 0.01px;
    font-weight: 500;
    margin: 0 0 15px 0;
}

#fsdocs-content p {
    font-size: 1.0rem;
    line-height: 1.375rem;
    letter-spacing: 0.01px;
    font-weight: 500;
}

#fsdocs-content a {
    color: var(--bs-blue);
}

/* remove the default bootstrap bold on dt elements */
#fsdocs-content dt {
    font-weight: normal;
}


/*--------------------------------------------------------------------------
  Formatting tables in fsdocs-content, using learn.microsoft.com tables
/*--------------------------------------------------------------------------*/

#fsdocs-content .table {
    table-layout: auto;
    width: 100%;
    font-size: 0.875rem;
}

#fsdocs-content .table caption {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1.125rem;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: var(--bs-gray-200);
    text-align: right;
}

#fsdocs-content .table td,
#fsdocs-content .table th {
    display: table-cell;
    word-wrap: break-word;
    padding: 0.75rem 1rem 0.75rem 0rem;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid var(--bs-gray-200);
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
}

/* suppress the top line on inner lists such as tables of exceptions */
#fsdocs-content .table .fsdocs-exception-list td,
#fsdocs-content .table .fsdocs-exception-list th {
    border-top: 0
}

#fsdocs-content .table td p:first-child,
#fsdocs-content .table th p:first-child {
    margin-top: 0;
}

#fsdocs-content .table td.nowrap,
#fsdocs-content .table th.nowrap {
    white-space: nowrap;
}

#fsdocs-content .table td.is-narrow,
#fsdocs-content .table th.is-narrow {
    width: 15%;
}

#fsdocs-content .table th:not([scope='row']) {
    border-top: 0;
    border-bottom: 1px;
}

#fsdocs-content .table > caption + thead > tr:first-child > td,
#fsdocs-content .table > colgroup + thead > tr:first-child > td,
#fsdocs-content .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

#fsdocs-content .table.min {
    width: unset;
}

#fsdocs-content .table.is-left-aligned td:first-child,
#fsdocs-content .table.is-left-aligned th:first-child {
    padding-left: 0;
}

#fsdocs-content .table.is-left-aligned td:first-child a,
#fsdocs-content .table.is-left-aligned th:first-child a {
    outline-offset: -0.125rem;
}

@media screen and (max-width: 767px), screen and (min-resolution: 120dpi) and (max-width: 767.9px) {
    #fsdocs-content .table.is-stacked-mobile td:nth-child(1) {
        display: block;
        width: 100%;
        padding: 1rem 0;
    }

    #fsdocs-content .table.is-stacked-mobile td:not(:nth-child(1)) {
        display: block;
        border-width: 0;
        padding: 0 0 1rem;
    }
}

#fsdocs-content .table.has-inner-borders th,
#fsdocs-content .table.has-inner-borders td {
    border-right: 1px solid var(--bs-gray-200);
}

#fsdocs-content .table.has-inner-borders th:last-child,
#fsdocs-content .table.has-inner-borders td:last-child {
    border-right: none;
}

.fsdocs-entity-list .fsdocs-entity-name {
    width: 25%;
    font-weight: bold;
}

.fsdocs-member-list .fsdocs-member-usage {
    width: 35%;
}

/*--------------------------------------------------------------------------
  Formatting xmldoc sections in fsdocs-content
/*--------------------------------------------------------------------------*/

.fsdocs-summary {
    display: inline;
}

.fsdocs-xmldoc, .fsdocs-entity-xmldoc, .fsdocs-member-xmldoc {
    font-size: 1.0rem;
    line-height: 1.375rem;
    letter-spacing: 0.01px;
    font-weight: 500;
    color: var(--bs-gray-900);
}

.fsdocs-xmldoc h1 {
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}

.fsdocs-xmldoc h2 {
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}

.fsdocs-xmldoc h3 {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
}

.fsdocs-member-xmldoc details[open] summary + * {
    margin-top: 1rem;
}

#fsdocs-nav img.logo {
    width: 90%;
    /* height:140px; */
    /* margin:10px 0 0 20px; */
    margin-top: 40px;
    border-style: none;
}

#fsdocs-nav {
    /* margin-left: -5px; */
    /* width: 90%; */
    font-size: 0.95rem;
}

#fsdocs-nav li.nav-header {
    /* margin-left: -5px; */
    /* width: 90%; */
    padding-left: 0;
    text-transform: none;
    font-size: 16px;
    margin-top: 9px;
    font-weight: bold;
}

#fsdocs-nav a {
    padding-left: 0;
    color: var(--bs-gray);
}

[data-bs-theme=dark] #fsdocs-nav a {
    color: var(--bs-white);
}

/*--------------------------------------------------------------------------
  Formatting pre and code sections in fsdocs-content (code highlighting is
    further below)
/*--------------------------------------------------------------------------*/

#fsdocs-content code {
    /* font-size: 0.83rem; */
    font: 0.85rem 'Roboto Mono', monospace;
    background-color: #f7f7f900;
    border: 0;
    padding: 0;
    /* word-wrap: break-word; */
    /* white-space: pre; */
}

/* omitted */
#fsdocs-content span.omitted {
    background: #3c4e52;
    border-radius: 5px;
    color: #808080;
    padding: 0 0 1px 0;
}

#fsdocs-content pre .fssnip code {
    font: 0.86rem 'Roboto Mono', monospace;
}

#fsdocs-content table.pre,
#fsdocs-content pre.fssnip,
#fsdocs-content pre {
    line-height: 13pt;
    border: 0px solid var(--fsdocs-pre-border-color);
    border-top: 0px solid var(--fsdocs-pre-border-color-top);
    border-collapse: separate;
    white-space: pre;
    font: 0.86rem 'Roboto Mono', monospace;
    width: 100%;
    margin: 10px 0 20px 0;
    background-color: var(--fsdocs-pre-background-color);
    padding: 10px;
    border-radius: 5px;
    color:  var(--fsdocs-pre-color);
    max-width: none;
    box-sizing: border-box;
}

#fsdocs-content pre.fssnip code {
    font: 0.86rem monospace;
    font-weight: 600;
}

#fsdocs-content table.pre {
    background-color: var(--fsdocs-pre-background-color);
}

#fsdocs-content table.pre pre {
    padding: 0;
    margin: 0;
    border-radius: 0;
    width: 100%;
    background-color: var(--fsdocs-pre-background-color);
    color: var(--bs-body-color);
}

#fsdocs-content table.pre td {
    padding: 0;
    white-space: normal;
    margin: 0;
    width: 100%;
}

#fsdocs-content table.pre td.lines {
    width: 30px;
}


#fsdocs-content pre {
    word-wrap: inherit;
}

.fsdocs-example-header {
    font-size: 1.0rem;
    line-height: 1.375rem;
    letter-spacing: 0.01px;
    font-weight: 700;
    color: var(--bs-gray-200);
}

/*--------------------------------------------------------------------------
  Formatting github source links
/*--------------------------------------------------------------------------*/

.fsdocs-source-link {
    float: right;
    text-decoration: none;
}

.fsdocs-source-link img {
    border-style: none;
    margin-left: 10px;
    width: auto;
    height: 1.4em;
}

.fsdocs-source-link .hover {
    display: none;
}

.fsdocs-source-link:hover .hover {
    display: block;
}

.fsdocs-source-link .normal {
    display: block;
}

.fsdocs-source-link:hover .normal {
    display: none;
}

/*--------------------------------------------------------------------------
  Formatting logo
/*--------------------------------------------------------------------------*/

#fsdocs-logo {
    width: 140px;
    height: 140px;
    margin: 10px 0 0 0;
    border-style: none;
}

/*--------------------------------------------------------------------------
  
/*--------------------------------------------------------------------------*/

#fsdocs-content table.pre pre {
    padding: 0;
    margin: 0;
    border: none;
}

/*--------------------------------------------------------------------------
  Remove formatting from links
/*--------------------------------------------------------------------------*/

#fsdocs-content h1 a,
#fsdocs-content h1 a:hover,
#fsdocs-content h1 a:focus,
#fsdocs-content h2 a,
#fsdocs-content h2 a:hover,
#fsdocs-content h2 a:focus,
#fsdocs-content h3 a,
#fsdocs-content h3 a:hover,
#fsdocs-content h3 a:focus,
#fsdocs-content h4 a,
#fsdocs-content h4 a:hover, #fsdocs-content
#fsdocs-content h4 a:focus,
#fsdocs-content h5 a,
#fsdocs-content h5 a:hover,
#fsdocs-content h5 a:focus,
#fsdocs-content h6 a,
#fsdocs-content h6 a:hover,
#fsdocs-content h6 a:focus {
    color: var(--bs-body-color);
    text-decoration: none;
    text-decoration-style: none;
    /* outline: none */
}

/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

:root {
    --fsdocs-pre-border-color: #d8d8d8;
    --fsdocs-pre-border-color-top: #e3e3e3;
    --fsdocs-pre-background-color: #f3f4f7;
    --fsdocs-pre-color: #8e0e2b;
    --fsdocs-table-pre-background-color: #fff7ed;
    --fsdocs-table-pre-color: #837b79;
    
    --fsdocs-code-strings-color: #dd1144;
    --fsdocs-code-printf-color: #E0C57F;
    --fsdocs-code-escaped-color: #EA8675;
    --fsdocs-code-identifiers-color: var(--bs-body-color);
    --fsdocs-code-module-color: #009999;
    --fsdocs-code-reference-color: #4974D1;
    --fsdocs-code-value-color: #43AEC6;
    --fsdocs-code-interface-color: #43AEC6;
    --fsdocs-code-typearg-color: #43AEC6;
    --fsdocs-code-disposable-color: #43AEC6;
    --fsdocs-code-property-color: #43AEC6;
    --fsdocs-code-punctuation-color: #43AEC6;
    --fsdocs-code-punctuation2-color: var(--bs-body-color);
    --fsdocs-code-function-color: #e1e1e1;
    --fsdocs-code-function2-color: #990000;
    --fsdocs-code-activepattern-color: #4ec9b0;
    --fsdocs-code-unioncase-color: #4ec9b0;
    --fsdocs-code-enumeration-color: #4ec9b0;
    --fsdocs-code-keywords-color: #b68015;
    --fsdocs-code-comment-color: #808080;
    --fsdocs-code-operators-color: #af75c1;
    --fsdocs-code-numbers-color: #009999;
    --fsdocs-code-linenumbers-color: #80b0b0;
    --fsdocs-code-mutable-color: #d1d1d1;
    --fsdocs-code-inactive-color: #808080;
    --fsdocs-code-preprocessor-color: #af75c1;
    --fsdocs-code-fsioutput-color: #808080;
    --fsdocs-code-tooltip-color: #d1d1d1;
}

[data-bs-theme=dark] {
    --fsdocs-pre-border-color: #000000;
    --fsdocs-pre-border-color-top: #070707;
    --fsdocs-pre-background-color: #3e3e42;
    --fsdocs-pre-color: #e2e2e2;
    --fsdocs-table-pre-background-color: #1d1d1d;
    --fsdocs-table-pre-color: #c9c9c9;

    --fsdocs-code-strings-color: #ea9a75;
    --fsdocs-code-printf-color: #E0C57F;
    --fsdocs-code-escaped-color: #EA8675;
    --fsdocs-code-identifiers-color: var(--bs-body-color);
    --fsdocs-code-module-color: #43AEC6;
    --fsdocs-code-reference-color: #6a8dd8;
    --fsdocs-code-value-color: #43AEC6;
    --fsdocs-code-interface-color: #43AEC6;
    --fsdocs-code-typearg-color: #43AEC6;
    --fsdocs-code-disposable-color: #2f798a;
    --fsdocs-code-property-color: #43AEC6;
    --fsdocs-code-punctuation-color: #43AEC6;
    --fsdocs-code-punctuation2-color: #e1e1e1;
    --fsdocs-code-function-color: #e1e1e1;
    --fsdocs-code-function2-color: #43AEC6;
    --fsdocs-code-activepattern-color: #4ec9b0;
    --fsdocs-code-unioncase-color: #4ec9b0;
    --fsdocs-code-enumeration-color: #4ec9b0;
    --fsdocs-code-keywords-color: #2248c4;
    --fsdocs-code-comment-color: #329215;
    --fsdocs-code-operators-color: #af75c1;
    --fsdocs-code-numbers-color: #96C71D;
    --fsdocs-code-linenumbers-color: #80b0b0;
    --fsdocs-code-mutable-color: #997f0c;
    --fsdocs-code-inactive-color: #808080;
    --fsdocs-code-preprocessor-color: #af75c1;
    --fsdocs-code-fsioutput-color: #808080;
    --fsdocs-code-tooltip-color: #d1d1d1;
}

.fsdocs-param-name,
.fsdocs-return-name,
.fsdocs-param {
    font-weight: 900;
    font-size: 0.85rem;
    font-family: 'Roboto Mono', monospace;
}

/* strings --- and stlyes for other string related formats */
#fsdocs-content span.s {
    color: var(--fsdocs-code-strings-color);
}

/* printf formatters */
#fsdocs-content span.pf {
    color: var(--fsdocs-code-printf-color);
}

/* escaped chars */
#fsdocs-content span.e {
    color: var(--fsdocs-code-escaped-color);
}

/* identifiers --- and styles for more specific identifier types */
#fsdocs-content span.id {
    color: var(--fsdocs-identifiers-color);;
}

/* module */
#fsdocs-content span.m {
    color: var(--fsdocs-code-module-color);
}

/* reference type */
#fsdocs-content span.rt {
    color: var(--fsdocs-code-reference-color);
}

/* value type */
#fsdocs-content span.vt {
    color: var(--fsdocs-code-value-color);
}

/* interface */
#fsdocs-content span.if {
    color: var(--fsdocs-code-interface-color);
}

/* type argument */
#fsdocs-content span.ta {
    color: var(--fsdocs-code-typearg-color);
}

/* disposable */
#fsdocs-content span.d {
    color: var(--fsdocs-code-disposable-color);
}

/* property */
#fsdocs-content span.prop {
    color: var(--fsdocs-code-property-color);
}

/* punctuation */
#fsdocs-content span.p {
    color: var(--fsdocs-code-punctuation-color);
}

#fsdocs-content span.pn {
    color: var(--fsdocs-code-punctuation2-color);
}

/* function */
#fsdocs-content span.f {
    color: var(--fsdocs-code-function-color);
}

#fsdocs-content span.fn {
    color: var(--fsdocs-code-function2-color);
}

/* active pattern */
#fsdocs-content span.pat {
    color: var(--fsdocs-code-activepattern-color);
}

/* union case */
#fsdocs-content span.u {
    color: var(--fsdocs-code-unioncase-color);
}

/* enumeration */
#fsdocs-content span.e {
    color: var(--fsdocs-code-enumeration-color);
}

/* keywords */
#fsdocs-content span.k {
    color: var(--fsdocs-code-keywords-color);
    /* font-weight: bold; */
}

/* comment */
#fsdocs-content span.c {
    color: var(--fsdocs-code-comment-color);
    font-weight: 400;
    font-style: italic;
}

/* operators */
#fsdocs-content span.o {
    color: var(--fsdocs-code-operators-color);
}

/* numbers */
#fsdocs-content span.n {
    color: var(--fsdocs-code-numbers-color);
}

/* line number */
#fsdocs-content span.l {
    color: var(--fsdocs-code-linenumbers-color);
}

/* mutable var or ref cell */
#fsdocs-content span.v {
    color: var(--fsdocs-code-mutable-color);
    font-weight: bold;
}

/* inactive code */
#fsdocs-content span.inactive {
    color: var(--fsdocs-code-inactive-color);
}

/* preprocessor */
#fsdocs-content span.prep {
    color: var(--fsdocs-code-preprocessor-color);
}

/* fsi output */
#fsdocs-content span.fsi {
    color: var(--fsdocs-code-fsioutput-color);
}

/* tool tip */
div.fsdocs-tip {
    background: #475b5f;
    border-radius: 4px;
    font: 0.85rem 'Roboto Mono', monospace;
    padding: 6px 8px 6px 8px;
    display: none;
    color: var(--fsdocs-code-tooltip-color);
    pointer-events: none;
}

div.fsdocs-tip code {
    color: var(--fsdocs-code-tooltip-color);
    font: 0.85rem 'Roboto Mono', monospace;
}
