:root {
    --monospace-font: "Fira Code", monospace;
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --unit: 0.25rem;
    --unit-2: calc(2 * var(--unit));
    --unit-3: calc(3 * var(--unit));
    --unit-4: calc(4 * var(--unit));
    --unit-5: calc(5 * var(--unit));
    --unit-6: calc(6 * var(--unit));
    --unit-7: calc(7 * var(--unit));
    --unit-8: calc(8 * var(--unit));
    --unit-9: calc(9 * var(--unit));
    --unit-10: calc(10 * var(--unit));
    --unit-11: calc(11 * var(--unit));
    --unit-12: calc(12 * var(--unit));
    --radius: 6px;
    --icon-size: 30px;

    --container-sm: 768px;
    --container-md: 960px;
    --container-lg: 1024px;
    --container-xl: 1200px;
    --container-xxl: 1400px;
    --aside-width: 250px;

    --header-height: 60px;

    /* light theme */
    --primary: #1e8bc3;
    --background: #f5f5f6;
    --text-color: #020202;
    --text-hover: #282828;
    --heading-color: #2e293a;
    --code-background: #ffffff;
    --code-color: #1a4b0b;
    --header-background: #f9fbfc;
    --header-border: #e8ecf1;
    --menu-icon-hover: #F7F7F7;
    --menu-icon-hover-background: #bdc3c7;
    --doc-tip-background: #F7F7F7;
    --link-color: #4871f7;
    --link-hover: #91aafa;
    --search-background: rgb(229, 231, 235);
    --nav-category: rgb(156, 163, 175);

    --code-strings-color: #0093A1;
    --code-printf-color: #6B2FBA;
    --code-escaped-color: #EA8675;
    --code-identifiers-color: #6B2FBA;
    --code-module-color: #009999;
    --code-reference-color: #4974D1;
    --code-value-color: #1B6600;
    --code-interface-color: #43AEC6;
    --code-typearg-color: #43AEC6;
    --code-disposable-color: #43AEC6;
    --code-property-color: #43AEC6;
    --code-punctuation-color: #43AEC6;
    --code-punctuation2-color: var(--text-color);
    --code-function-color: #6B2FBA;
    --code-function2-color: #6B2FBA;
    --code-activepattern-color: #4ec9b0;
    --code-unioncase-color: #4ec9b0;
    --code-enumeration-color: #8C6C41;
    --code-keywords-color: #0F54D6;
    --code-comment-color: #707070;
    --code-operators-color: #0F54D6;
    --code-numbers-color: #009999;
    --code-linenumbers-color: #80b0b0;
    --code-mutable-color: #1b6600;
    --code-inactive-color: #808080;
    --code-preprocessor-color: #af75c1;
    --code-fsioutput-color: #808080;
    --code-tooltip-color: #d1d1d1;
}

/* CSS Reset, source: https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Main layout */
body {
    font-family: var(--system-font);
    background-color: var(--background);
    color: var(--text-color);
}

header {
    background-color: var(--header-background);
    padding: var(--unit-2);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

    & .start {
        display: flex;
        align-items: center;

        & #menu-toggle {
            position: relative;
            height: var(--icon-size);
            width: var(--icon-size);
            border: 1px solid var(--header-border);
            border-radius: var(--radius);

            & .icon {
                top: 3px;
                left: 3px;
                width: calc(var(--icon-size) - 4px);
                height: calc(var(--icon-size) - 4px);
                position: absolute;

                &.open {
                    display: none;
                }
            }

            & input[type=checkbox] {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                appearance: none;
                cursor: pointer;
            }

            & .menu {
                visibility: hidden;
                height: 0;
                opacity: 0;
                width: 100%;
                transition: all 0.2s ease-in-out;
                position: fixed;
                top: var(--header-height);
                left: 0;
                background-color: var(--header-background);
                list-style: none;
                padding: var(--unit-2);
            }

            & input:checked + .menu {
                visibility: visible;
                opacity: 1;
                height: calc(100vh - var(--header-height));
            }

            &:has(input:checked) {
                .icon.open {
                    display: block;
                }

                .icon.closed {
                    display: none;
                }
            }
        }

        & img {
            margin: 0 var(--unit-4);
            border-radius: var(--radius);
            height: calc(var(--icon-size) - 2px);
        }

        & strong {
            line-height: var(--icon-size);
            font-size: var(--unit-4);
            display: block;
        }
    }

    & .end {
        display: flex;
        align-items: center;

        & a {
            display: none;
        }

        & > .themeToggle, & > .search {
            cursor: pointer;
            height: var(--icon-size);
            align-items: center;
            margin: 0 var(--unit);
        }

        & > .search {
            display: flex;
        }
    }
}

aside {
    display: none;
}

main {
    height: calc(100vh - var(--header-height));
}

#content {
    padding: var(--unit-2) var(--unit-4);
}

/* menu items */
.menu {
    padding: 0;

    & > li {
        list-style: none;
    }
}

.nav-header {
    margin-top: var(--unit-3);
    text-transform: uppercase;
    font-size: var(--unit-3);
}

.nav-header:first-child {
    margin-top: 0;
}

.nav-item {
    padding-left: var(--unit-3);
    padding-top: var(--unit);
    border-left: 1px solid var(--header-border);

    & a {
        color: var(--text-color);
        text-decoration: none;
        font-size: var(--unit-3);
    }

    &:hover {
        border-color: var(--text-color);
    }
}

@media screen and (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    body {
        display: grid;
        grid-template-rows: var(--header-height) minmax(0, 1fr);
        grid-template-columns:var(--aside-width) minmax(0, 1fr);
        gap: 0;
    }

    header {
        border-bottom: 1px solid var(--header-border);
        grid-row: 1;
        grid-column: span 2;

        & .end {
            > a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--text-color);
                margin: 0 var(--unit);

                &:hover {
                    color: var(--link-hover);
                }
            }
        }
    }

    aside, main {
        min-height: calc(100vh - var(--header-height));
    }

    aside {
        display: block;
        padding: var(--unit-2) var(--unit-6);
        background-color: var(--header-background);
        width: var(--aside-width);
        border-right: 1px solid var(--header-border);
        grid-row: 2;
        grid-row-end: 3;
    }

    main {
        grid-row: 2;
        grid-column: 2;
        overflow-y: auto;
    }

    #content {
        padding-left: var(--unit-4);
        padding-right: var(--unit-4);
    }
}

@media screen and (min-width: 768px) {
    #content {
        max-width: calc(100vw - var(--aside-width) - var(--unit-4));
        margin: 0 auto;
    }
}

@media screen and (min-width: 960px) {
    #content {
        max-width: calc(var(--container-md) - var(--aside-width) - var(--unit-4));
    }
}

@media screen and (min-width: 1024px) {
    #content {
        max-width: calc(var(--container-lg) - var(--aside-width) - var(--unit-4));
    }
}

@media screen and (min-width: 1200px) {
    #content {
        max-width: calc(var(--container-xl) - var(--aside-width) - var(--unit-4));
    }
}

@media screen and (min-width: 1400px) {
    #content {
        max-width: calc(var(--container-xxl) - var(--aside-width) - var(--unit-4));
    }
}

/* Headings */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--heading-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: var(--unit-3) 0;
}

h1 {
    font-size: var(--unit-8);
}

h2 {
    font-size: var(--unit-6);
}

h3 {
    font-size: var(--unit-5);
}

h4 {
    font-size: var(--unit-4);
}

h5 {
    font-size: var(--unit-3);
}

h6 {
    font-size: var(--unit-2);
}

/* Common items */
a {
    color: var(--link-color);
}

p {
    line-height: 1.8;
}

ol li {
    margin-bottom: var(--unit-2);
}

#content > table {
    margin: var(--unit-2) 0;
}

/* Code snippets */

/* reset browser style */
pre {
    margin: 0;
    padding: 0;
}

code, table.pre, pre {
    background-color: var(--code-background);
    color: var(--code-color);
    font-family: var(--monospace-font);
}

table.pre, pre.fssnip.highlighted {
    margin-bottom: var(--unit-3);
}

table.pre, pre.fssnip {
    padding: var(--unit) var(--unit-2);
}

p > code, li > code {
    padding: var(--unit);
    transform: translateY(var(--unit));
}

table.pre, code {
    overflow-x: auto;
    max-width: calc(100vw - var(--unit-12));
    box-sizing: border-box;
    border-radius: var(--radius);
}

table.pre, pre > code {
    display: block;
}

pre.fssnip > code {
    max-width: initial;
    margin-bottom: initial;
}

/* copy icons in the shell commands */
table.pre td iconify-icon {
    margin-top: 4px;
}

@media screen and (min-width: 768px) {
    table, code {
        max-width: var(--container-sm);
    }
}

@media screen and (min-width: 960px) {
    table, code {
        max-width: var(--container-md);
    }
}

@media screen and (min-width: 1024px) {
    table, code {
        max-width: var(--container-lg);
    }
}

@media screen and (min-width: 1200px) {
    table, code {
        max-width: var(--container-xl);
    }
}

@media screen and (min-width: 1400px) {
    table, code {
        max-width: var(--container-xxl);
    }
}

/* Code coloring */
.param-name,
.return-name,
.param {
    font-weight: 900;
    font-size: 0.85rem;
    font-family: 'Roboto Mono', monospace;
}

.fssnip {
    /* strings --- and stlyes for other string related formats */

    & span.s {
        color: var(--code-strings-color);
    }

    /* printf formatters */

    & span.pf {
        color: var(--code-printf-color);
    }

    /* escaped chars */

    & span.e {
        color: var(--code-escaped-color);
    }

    /* identifiers --- and styles for more specific identifier types */

    & span.id {
        color: var(--code-identifiers-color);;
    }

    /* module */

    & span.m {
        color: var(--code-module-color);
    }

    /* reference type */

    & span.rt {
        color: var(--code-reference-color);
    }

    /* value type */

    & span.vt {
        color: var(--code-value-color);
    }

    /* interface */

    & span.if {
        color: var(--code-interface-color);
    }

    /* type argument */

    & span.ta {
        color: var(--code-typearg-color);
    }

    /* disposable */

    & span.d {
        color: var(--code-disposable-color);
    }

    /* property */

    & span.prop {
        color: var(--code-property-color);
    }

    /* punctuation */

    & span.p {
        color: var(--code-punctuation-color);
    }

    & span.pn {
        color: var(--code-punctuation2-color);
    }

    /* function */

    & span.f {
        color: var(--code-function-color);
    }

    & span.fn {
        color: var(--code-function2-color);
    }

    /* active pattern */

    & span.pat {
        color: var(--code-activepattern-color);
    }

    /* union case */

    & span.u {
        color: var(--code-unioncase-color);
    }

    /* enumeration */

    & span.e {
        color: var(--code-enumeration-color);
    }

    /* keywords */

    & span.k {
        color: var(--code-keywords-color);
    }

    /* comment */

    & span.c {
        color: var(--code-comment-color);
        font-weight: 400;
        font-style: italic;
    }

    /* operators */

    & span.o {
        color: var(--code-operators-color);
    }

    /* numbers */

    & span.n {
        color: var(--code-numbers-color);
    }

    /* line number */

    & span.l {
        color: var(--code-linenumbers-color);
    }

    /* mutable var or ref cell */

    & span.v {
        color: var(--code-mutable-color);
        font-weight: bold;
    }

    /* inactive code */

    & span.inactive {
        color: var(--code-inactive-color);
    }

    /* preprocessor */

    & span.prep {
        color: var(--code-preprocessor-color);
    }

    /* fsi output */

    & span.fsi {
        color: var(--code-fsioutput-color);
    }
}

/* tooltips */
div.fsdocs-tip {
    z-index: 1000;
    display: none;
    background-color: var(--doc-tip-background);
    border-radius: var(--radius);
    border: 1px solid var(--header-border);
    padding: var(--unit-3);
    font-family: var(--monospace-font);
    color: var(--code-color);

    & code {
        color: var(--code-color);
    }
}

span[onmouseout] {
    cursor: pointer;
}

/* API docs */
.table {
    width: 100%;

    & thead tr td {
        font-weight: bold;
        padding: var(--unit-3) 0;
    }

    & tbody td {
        border-top: 1px solid var(--header-border);
        padding: var(--unit-2) 0;
    }

    .fsdocs-entity-xmldoc {
        > div {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: center;

            > p {
                margin: 0 var(--unit-2) 0 0;
            }
        }
    }

    .fsdocs-member-usage {
        display: block;
        margin-right: var(--unit-2);
    }

    .fsdocs-member-xmldoc {
        & details {
            margin-left: var(--unit-2);

            & .fsdocs-summary {
                margin-left: var(--unit-2);
            }
        }

        & summary {
            list-style: none;

            .fsdocs-summary {
                display: flex;
                align-items: center;
            }

            &::after {
                content: '▶';
                cursor: pointer;
                margin-left: var(--unit-4);
            }
        }

        & details[open] summary::after {
            content: "▼";
        }

        .fsdocs-returns, .fsdocs-params {
            margin-left: var(--unit-4);
        }

        /* hide the browser mark and display one after the summary */

        & ::marker {
            display: none;
        }
    }
}

.fsdocs-source-link {
    padding: 0 var(--unit);

    > img {
        height: var(--icon-size);
        cursor: pointer;

        &.hover {
            display: none;
        }
    }

    &:hover {
        > img.normal {
            display: none;
        }

        > img.hover {
            display: block;
        }
    }
}

[data-theme=dark] {
    .fsdocs-source-link img.normal {
        filter: invert(1);
    }
}

/* dark theme */

[data-theme=dark] {
    --primary: #81cfe0;
    --background: #32283c;
    --text-color: #F7F7F7;
    --text-hover: #FFF;
    --heading-color: #F4F4F6;
    --code-background: #3e3e42;
    --code-color: #f5f5f6;
    --header-background: #0c1318;
    --header-border: #9b9b9b;
    --doc-tip-background: #2e293a;
    --link-color: #c5eff7;
    --search-background: #020202;
    --nav-category: rgb(207, 211, 215);

    --code-strings-color: #5adfec;
    --code-printf-color: #6B2FBA;
    --code-escaped-color: #EA8675;
    --code-identifiers-color: #d1b3f5;
    --code-module-color: #15e1e1;
    --code-reference-color: #7a9cee;
    --code-value-color: #66d73d;
    --code-interface-color: #43AEC6;
    --code-typearg-color: #43AEC6;
    --code-disposable-color: #6dd6f1;
    --code-property-color: #6acfe7;
    --code-punctuation-color: #43AEC6;
    --code-punctuation2-color: var(--text-color);
    --code-function-color: #6B2FBA;
    --code-function2-color: #da9d9d;
    --code-activepattern-color: #4ec9b0;
    --code-unioncase-color: #4ec9b0;
    --code-enumeration-color: #8C6C41;
    --code-keywords-color: #a7c2f8;
    --code-comment-color: #dcd8d8;
    --code-operators-color: #b4c6ee;
    --code-numbers-color: #009999;
    --code-linenumbers-color: #80b0b0;
    --code-mutable-color: #1b6600;
    --code-inactive-color: #808080;
    --code-preprocessor-color: #af75c1;
    --code-fsioutput-color: #808080;
    --code-tooltip-color: #d1d1d1;
}
