version: 2
updates:
  - package-ecosystem: nuget
    directory: "/src"
    schedule:
      interval: daily
      time: "10:00"
    open-pull-requests-limit: 10
    allow:
      - dependency-name: "FSharp.Compiler.Service"
      - dependency-name: "Ionide.ProjInfo"
      - dependency-name: "Ionide.ProjInfo.Sln"
