**/*.suo
**/.fake/
**/.vs/
**/bin/
**/lib/
**/obj/
**/paket-files/
**/nuget/*.nupkg
**/docs/output/
**/literate/outputs/*
**/packages/*
!**/packages/FSharp.Formatting
**/packages/FSharp.Formatting/lib
**/*.VisualState.xml
**/TestResults/
**/temp/
**/tests/Benchmarks/testfiles/*/*.html
**/*.sln.DotSettings.user
**/*.userprefs
**/*.bak
**/release.cmd
**/*.orig
**/*.aux
**/*.dvi
**/*.out
**/*.synctex
**/*.log
**/*.svclog

**/.paket/paket.exe
**/fsbuild.targets
**/*.sln.tddstud10.user
**/*.ncrunchsolution
**/*.user
**/_NCrunch_*
**/*.ncrunchproject
**/.ionide/
