# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.fs]
fsharp_max_array_or_list_width=120
fsharp_max_infix_operator_expression=80
fsharp_max_value_binding_width=120

# Specific settings for "View/HTML" related files
# It makes the code more consistent in term of spacing and indentation
[GenerateHtml.fs]
fsharp_experimental_elmish = true
fsharp_array_or_list_multiline_formatter = number_of_items
fsharp_max_array_or_list_number_of_items = 0
fsharp_multi_line_lambda_closing_newline = true
fsharp_multiline_bracket_style = aligned
fsharp_keep_max_number_of_blank_lines = 1
# Keep the if/then/else consistent
fsharp_max_if_then_else_short_width = 0
