*.suo
bin/
obj/
nuget/*.nupkg
docs/output/
literate/outputs/*
packages/
*.VisualState.xml
TestResults.xml
TestResult.xml
temp/
tests/Benchmarks/testfiles/*/*.html
*.sln.DotSettings.user
*.userprefs
*.bak