src/FSharp.CodeFormat/bin
src/FSharp.CodeFormat/obj
src/FSharp.CodeFormat.Tests/bin
src/FSharp.CodeFormat.Tests/obj
src/FSharp.Markdown/bin
src/FSharp.Markdown/obj
src/FSharp.MetadataFormat/bin
src/FSharp.MetadataFormat/obj
src/FSharp.Markdown.Tests/bin
src/FSharp.Markdown.Tests/obj
src/FSharp.Literate.Tests/bin
src/FSharp.Literate.Tests/obj
*.suo
bin/
nuget/*.nupkg
docs/output/*.html
literate/outputs/*
packages/