source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.7 lowest_matching:true
nuget FSharp.Compiler.Service >= 33.0 lowest_matching:true
nuget RazorEngine.NetCore >= 2.2.6 lowest_matching:true
nuget Microsoft.AspNetCore.Razor >= 2.1.2 lowest_matching:true
nuget Microsoft.AspNetCore.Razor.Runtime >= 2.1.2 lowest_matching:true
nuget Microsoft.AspNetCore.Razor.Language >= 2.1.2 lowest_matching:true

nuget FSharp.Data
nuget CommandLineParser ~> 1.0
nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter
nuget FsUnit
nuget NUnit

group Build
    source https://api.nuget.org/v3/index.json
    nuget NuGet.CommandLine

group Fake
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.DotNet.NuGet
    nuget Fake.DotNet.MsBuild
    nuget Fake.Tools.Git
	nuget Fake.DotNet.Paket