version 5.155.0
source https://api.nuget.org/v3/index.json
source https://ci.appveyor.com/nuget/fake

redirects: on

nuget FSharp.Data
nuget FAKE prerelease
nuget CommandLineParser ~> 1.0 // Maybe we should switch to Argu?
#nuget FSharp.Compiler.Tools
nuget FSharp.Core 4.2.3 redirects:force, content:none
nuget RazorEngine 3.9.3 framework: >= net45
nuget FSharp.Compiler.Service  22.0.3 redirects:force, content:none
nuget ILRepack
nuget Argu

group Build
    source https://api.nuget.org/v3/index.json
    nuget NuGet.CommandLine

group netcorebuild
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Testing.NUnit
    nuget Fake.DotNet.NuGet
    nuget Fake.DotNet.MsBuild
    nuget Fake.Tools.Git 

#github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs

group Test
    source https://api.nuget.org/v3/index.json

    nuget FsUnit //3.0.0 //framework:net45
    nuget Nunit   //.ConsoleRunner
   