@{ 
  Layout = "default";
  Title = "Listing";
}

@RenderBody()

<div class="row">
  <div class="span1"></div>
  <div class="span10">
    <hr />
    Documentation for assembly @(String.Format("{0}, version {1}", Model.Assembly.Name.Name, Model.Assembly.Name.Version))
  </div>
  <div class="span1"></div>
</div>
