pre.fssnip
{
	background:#f0f0f0;
	font-family:consolas, monaco,'Lucida Console',monospace;
	font-size:80%;
	padding:10px;
	margin:10px 5px 10px 5px;
	position:relative;
}

/* identifier */
span.i { color:#000000; }
/* comment */
span.c { color:#008000; }
/* inactive code */
span.inactive { color:#808080; }
/* keywords */
span.k { color:#000080;  }
/* numbers */
span.n { color:#008000; }
/* operators */
span.o { color:#800080; }
/* preprocessor */
span.prep { color:#800080; }
/* string */
span.s { color:#808000; }
/* line number */
span.l { color:#80b0b0; }
/* fsi output */
span.fsi { font-style:italic; color:#606060; }
/* omitted */
span.omitted { 
	border:solid 1px #d8d8d8;
	color:#808080;
	padding:0px 0px 1px 0px;
	background:#fafafa;
}
span.cerr {
  background:url(tilde.png) repeat-x left bottom;
}

div.tip 
{
	font:8pt calibri;
	padding:3px;
	border:1px solid #606060;
	background:#ffffd0;
	display:none;
}

h2
{
	font:bold 16pt 'calibri';
}

pre a.fssniplink
{
	font:bold 7.5pt calibry, arial, verdana; 
	position:absolute; 
	bottom:0.3em; 
	right:0.3em;
	color:#a8a8a8;
}